li.li-h{
	display: inline;
	border: none;
	color: solid black;
	margin: none;
}

li.li-v{
	list-style-type: none;
	border: none;
	color: solid black;
	margin: none;
}


a.horizontal:hover{	
	background-color: white;
}
a.vertical:hover{	
	background-color: white;
}

a.horizontal{
	position: relative;
	top: 10px;
	background-color: #cecece;
	padding: 20px;
	position: relative;
	font-size: 25px;
	text-decoration: none;
	color: black;
	border: 1px solid white;
}

a.vertical{
	display: block;
	width: 170px;
	top: 10px;
	background-color: #cecece;
	padding: 20px;
	position: relative;
	font-size: 25px;
	text-decoration: none;
	color: black;
	border: 1px solid white;
}
